
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: "Madimi One", sans-serif;
}
body{
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.main{
    background-image: url(bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1350px, 120vw);
    height: 80vh;
    position: relative;
}
.box{
    height: 80vh;
    width: 100%;
    opacity: 0.22;
    background-color: black;
    position: absolute;
    top: 0;
}
nav{
    max-width: 65vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 62px;
}
.img {
   background-image: url(mrmathhacker.jpg);
   height: 70px;
   width: 70px;
   background-size: cover;
   position: relative;
   z-index: 15;
   margin-top: 29px;
   border: 2px solid black;
   border-radius: 50%;
   box-shadow:  5px 5px 22px 8px rgb(117, 199, 225);
   animation-name: orbit;
   animation-duration: 2s;
   animation-timing-function: ease-out;
   animation-iteration-count: 1;
   animation-delay: 0.5s;
}
@keyframes orbit{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}

nav button{
    position: relative;
    z-index: 10;
}
.hero{
    height: calc(100% - 62px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    position: relative;
    padding:0 30px;
    text-align: center;
    gap: 25px;
}
.hero> :nth-child(1){
    font-weight: 500;
    font-size: 48px;
    text-align: center;
}
.hero> :nth-child(2){
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3){
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.line{
    height: 8px;
    background-color: #343b2f;
}
.first{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    align-items: center;
    gap: 7px;
    height: auto;
    font-size: 25px;
}
.secimg img{
    width: 27vw;
    position: relative;
    z-index: 10;
    margin-top: 40px;
    box-shadow:  5px 5px 20px 11px #76ABAE;
    border-radius: 7px;
}
.line2{
    margin-top: 60px;
    height: 8px;
    background-color: #343b2f;
}
.faq{
    height: 80vh;
    width: 100%;
    background-color: #76ABAE;
    row-gap: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0px;
}
.faqbox{
    background-color: white;
    height: 8vh;
    width: 85%;
    padding-left: 20px;
    box-shadow:  5px 5px 20px 11px #4e4e4e ;
}
.line2{
    box-shadow:  5px 5px 24px 9px #F7418F;
    border-radius: 50%;
}

